body {
    margin: 0;
    padding: 0;
    background-color: #314357;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #314357;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 30px;
    border: 6px solid #243444;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #dbe9ff;
    margin-top: 10vh;
}

.title {
    font-size: 64px;
    color: #dbe9ff;
    font-family: 'Concert One', cursive;
}

.form {
    width: 80vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 45px;
    border-radius: 15px;
    border: 4px solid #243444;
}

.input {
    width: 80%;
    margin: 0;
    padding-left: 35px;
    box-sizing: border-box;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #314357;
    border-radius: 15px 0 0 15px;
    background: #dbe9ff;
}

.input:focus {
    outline: 0;
    outline-offset: 0;
}

.button {
    width: 20%;
    padding: 0;
    margin: 0;
    border: 0;
    border-left: 2px solid #314357;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #314357;
    border-radius: 0 15px 15px 0;
    transition: .2s linear;
    background: #dbe9ff;
}

.button:hover {
    cursor: pointer;
    background-color: #95aac2;
}

.city {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    font-weight: 600;
}


.real {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
}

.like {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.temp {
    margin: 10px;
}

.max-min {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
    justify-content: space-around;
}

.min {
    margin: 0 15px 0 15px;
}

.max {
    margin: 0 15px 0 15px;
}

.labels {
    font-size: 22px;
    font-weight: 500;
}

.lower-item {
    font-weight: 600;
    font-size: 28px;
    margin: 20px 0 20px 0;
}

.lower-label {
    font-size: 22px;
}

.description {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin: 15px 0 15px 0;
}
.error{
    font-size: 36px;
}
@media screen and (max-width: 480px) {
    .input{
        width: 70%;
    }
    .form{
        width: 95%;
    }
    .button{
        width: 30%;
    }
    .item{
        width: 80%;
        padding: 5px;
        min-height: 40vh;
    }
    .title{
        font-size: 48px;
    }
    .city{
        font-size: 22px;
    }
    .max-min{
        font-size: 20px;
    }
    .labels{
        font-size: 18px;
    }

    .lower-item{
        font-size: 22px;
    }
    .lower-label{
        font-size: 20px;
    }
}


